.App {
  text-align: center;
}

body {
  display: flex;
  text-align: right;
  margin: 10px;
  padding: 10px;
  font-family: 'Playfair Display', serif;
}

#madlib {
  border: grey;
  width: 50%;
}

input {
  background-color: skyblue;
  border: 2px solid dimgray;
  padding: 8px;
  border-radius: 10px;
}

#submitButton {
  background-color: dimgray;
  border: none;
  color: white;
  margin: 3px;
}
#clearButton {
  background-color: darkslategrey;
  border: none;
  color: white;
}
